<div>
  <form #userForm="ngForm">
    <input required name="pass1" type="password" ngModel #pass1="ngModel" class="form-input" placeholder="New password"/><br/>
    <span *ngIf="pass1.invalid && pass1.touched" class="error">*This field is required</span>
    <input disabled class="disabled"/><br/>
    <input required type="password"  name="pass2" ngModel #pass2="ngModel" class="form-input"  placeholder="confirm New password"><br/>
    <span *ngIf="pass2.invalid && pass2.touched" class="error">*This field is required</span>
    <span *ngIf="pass1.value!=pass2.value" class="error">*Passwords doesn't match</span>
    <input disabled class="disabled"/><br/>
    <input [disabled]="pass1.value!=pass2.value || userForm.invalid" class="btn btn-primary btnsize" (click)="openLogin()" type="submit" value="reset"/>
    <input class="btnWidth btn-danger btnsize" type="button" value="cancel" (click)="openLogin()"/>
  </form>
</div>
