div{
  background:white;
  height:190px;
  width:440px;
  margin:270px 0px 0px 510px;
  border-radius:20px
}
input{
  width:290px;
  height:30px;
  margin-left:73px;
  margin-top:10px;
  border-radius:20px;
  border:1px solid maroon;
  outline:0px
}
.error{
  color: red;
  margin-left:80px
}
.btnsize{
  float: left;
  width:70px;
  height:30px;
  margin-top: 10px;
  margin-left: 100px;
}
.disabled{
  border:0px solid black;
  outline:0px;
  height:0px;
  width:0px
}
input:hover{
  box-shadow: 0 2px 5px 0 white inset,0 2px 5px 0 green,
              0 2px 5px 0 white inset,0 2px 5px 0 green
}
.modal-backdrop {
  z-index: -1;
}
#inputadjust{
  margin-top:60px
}
.btnWidth{
  margin-left:55px
}
