<div>
  <div id="div">
    <div id="headerDiv"> 
     <label id="header">Corona Virus</label><label id="bottomheader">Dashboard</label>
  </div> 
</div>
<marquee class="d-flex justify-content-start"  scrollamount="15">This website shows you the realtime covid case count! Please sign in to access the covid data from our website. Thank you for visiting... Stay positive! Test negative!! </marquee>
</div>
<div id="bodyleft">
  <h1 id="bodycorona">CORONA</h1>
  <label class="bodytext">Safety from corona is hidden in Corona Word itself</label><br/>
  <div id="innertext">
    <label class="bodytext">C-Clean your Hands</label><br/>
    <label class="bodytext">O-Off from Gatherings</label><br/>
    <label class="bodytext">R-Raise your Immunity</label><br/>
    <label class="bodytext">O-Only Sick to Wear Mask</label><br/>
    <label class="bodytext">N-No to Hand Shake</label><br/>
    <label class="bodytext">A-Avoid Rumours</label><br/>
  </div>
</div>
<div id="bodyright">
  <div id="rightinnerdiv">
    <label class="rightbodytext">Want to Access Corona data?</label><br/>
    <input class="btn btn-secondary buttonlogin" type="button" (click)="login()" value="Join Now"/>
    <label class="rightbodytext1">Login Now and access the Real Time Covid Data in the form of chart view and download the data in PDFs or Excel</label>
  </div>
</div>
